@{
    ViewData["Title"] = "EMS - NTPC";
}

<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="display-2"><b>Employee Management System</b></h1>
    <p class="text-center">NTPC Limited - <a href="https://www.ntpc.co.in">NTPC Limited: Home</a></p>

</div>
